*{
    box-sizing: border-box;
}
.footer-container {
    margin-top: 80px;
	background-color: black;
	color: white;
	display: flex;
    flex-flow: column wrap;
    align-items: center;
	height: 20vh;
	width: 100%;
}

.footer-main {
	width: 85vw;
	height: 55%;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-evenly;
}

.footer-upper {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.email-bar {
	width: 75%;
    height: 100%;
    display: flex;
}

.email-bar input {
	width: 95%;
    height: 100%;
	padding: 0 10px;
    border: none;

}

.email-right-arrow{
    box-sizing: border-box;
    padding: 16px;
    background-color: #fd9c6b;
	transition: background-color 0.2s ease;


}

.email-right-arrow:hover{
	cursor: pointer;
	background-color: white;
	color: black;
}

.footer-social-media {
	width: 15%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social-media-icon {
	width: 35px;
	height: 35px;
}

.social-media-icon:hover{
	cursor: pointer;
}

.footer-copyright{
    background-color: white;
    width: 100%;
    height: 45%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
	font-weight: bold;

}

@media(max-width: 450px){
	.footer-main{
	width: 95vw;
	}
	.email-bar {
		width: 70%;
		height: 100%;
		
	}
	.email-right-arrow{
		height: 15px;
		width: 15px;
		padding: 8px;
		background-color: #fd9c6b;
		transition: background-color 0.2s ease;
	
	
	}
	.footer-social-media {
		width: 25%;
		
	}
	.social-media-icon {
		width: 25px;
		height: 25px;
	}
	.footer-copyright{
		font-weight: bold;
	}
}