@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
    padding: 0;
    margin: 0;
  }

.home-container{
    width: 100vw;
    height: 100vh;
    background-image: url("/public/images/slider-bg.jpg");
    background-size: cover;
    background-position: center 0px;
    color: white;
}

.logo{
  position: relative;
  /* left: 10px; */
  width: 200px;
  height: auto;
  margin: 30px 0 0 20px;
  object-fit: contain;
  /* border: 1px solid; */
  
}

.home-content{
  /* border: 1px solid; */
  width: 45%;
  height: 45%;
  position: relative;
  top: 75px;
  left: 80px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.home-heading{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.home-description{
  font-size: 18px;
}

.shop-now{
  color:#fd9c6b;
  margin-top: 30px;
  width: 155px;
  height: 45px;
  border: 1px solid #fd9c6b;
  border-radius: 5px;
  font-size: 17px;
  background-color: black;
  transition: background-color 0.2s ease;
}

.shop-now:hover{
  cursor: pointer;
  background-color: #fd9c6b;
  color: white;
  border: none;
}


