@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');
*{
    padding: 0;
    margin: 0;
  }

.home-container{
    width: 100vw;
    height: 65vh;
    background-image: url("/public/images/slider-bg.jpg");
    background-size: cover;
    /* background-position: 675px 54px; */
    background-position: center 0px;
    color: white;
}

.logo{
  position: relative;
  width: 200px;
  height: auto;
  margin: 30px 0 0 20px;
  object-fit: contain;
  
}

.home-content{
  /* border: 1px solid; */
  width: 45%;
  height: auto;
  position: relative;
  top: 60px;
  left: 80px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.home-heading{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
}

.home-description{
  font-size: 18px;
}

.shop-now{
  color:#fd9c6b;
  margin-top: 30px;
  width: 155px;
  height: 45px;
  border: 1px solid #fd9c6b;
  border-radius: 5px;
  font-size: 17px;
  background-color: transparent;
  transition: background-color 0.2s ease;
}

.shop-now:hover{
  cursor: pointer;
  background-color: #fd9c6b;
  color: white; 
  border: none;
}


@media(max-width:700px){
  .logo{
    width: 115px;
  }

  .home-content{
    left: 20px;
    top: 115px;
    width: 60%;
  }


  .home-heading{
    font-family: 'Playfair Display', serif;
    font-size: 34px;
  }
  
  .home-description{
    font-size: 16px;
  }

  .shop-now{
    width: 125px;
    height: 44px;
  }


}

