*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 317px;
    background-color: #eeeeee;
}



.img-div{
    width: 50%;
    height: 50%;
    /* border: 1px solid black; */
    display: flex;
    flex-flow: column ;
    align-items: center;
    justify-content: center;

}

img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* border: 1px solid black; */
}

.tag{
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.description{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    font-size: 17px;
    font-weight: 600;
}

.price{
    color: red;
}

