.testimonial-container{
    margin-top: 80px;
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;

}

.testimonial-heading{
    font-family: "Playfair Display", serif;
	font-size: 35px;
	text-transform: uppercase;
}

.testimony-container{
    background-color: black;
    width: 70%;
    min-height: 40%;
    border: none;
    border-radius: 15px;
    padding-top: 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.client-image-container{
    width: 40%;
    height: 40%;
    
}

.client-image{
    width: 145px;
    height: 145px;
    border: 8px solid white;
    border-radius: 50%;

}

.testimonial-sub-container{
    margin: 20px 0;
    height: auto;
    /* background-color: red; */
    display: flex;
    flex-flow: column wrap;
    /* justify-content: center; */
    align-items: center;
}

.client-name{
    margin-bottom: 10px;
    width: 95%;
    /* height: 15%; */
    color: #fd9c6b;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;

}

.client-testimony{
    width: 95%;
    /* height: 25%; */
    color: white;
    font-size: 18px;
    text-align: center;
}

.slider{
    width: 8%;
    display: flex;
    justify-content: space-between;
}

.left-arrow, .right-arrow{
    width: 20px;
    height: 20px;
    padding:10px;
    background-color: #fd9c6b;
    border-radius: 4px;
}

.left-arrow:hover, .right-arrow:hover{
    cursor: pointer;
}
@media(max-width: 450px){
    .testimonial-container{
        height: 60vh;
        margin-bottom: 40px;
    }
    .client-image{
        width: 105px;
        height: 105px;
        border: 3px solid white;   
    }
    .client-testimony{
        font-size: 16px;
    }
    .testimonial-heading{
        font-size: 30px;
    }
    .left-arrow, .right-arrow{
        width: 15px;
        height: 15px;
        padding:10px;
    }
    .slider{
        width: 30%;
        display: flex;
        justify-content: space-between;
    }
}